In [39]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from datetime import datetime
import json
import pandas as pd

In [40]:
import json
# Your data
with open('trades.json', 'r') as f:
    data = json.load(f)

In [41]:
df = pd.DataFrame(data)
df.head()

            symbol     price   volume  timestamp_unix conditions
0  BINANCE:BTCUSDT  37361.14  0.29014   1700124151266       None
1  BINANCE:BTCUSDT  37361.15  0.00172   1700124151352       None
2  BINANCE:BTCUSDT  37361.15  0.00601   1700124151416       None
3  BINANCE:BTCUSDT  37361.15  0.01156   1700124151416       None
4  BINANCE:BTCUSDT  37361.15  0.00264   1700124151416       None

In [42]:
# convert unix milliseconds timestamp to datetime
df['datetime'] = pd.to_datetime(df['timestamp_unix'], unit='ms')
df.head()

,symbol,price,volume,timestamp_unix,conditions,datetime
0,BINANCE:BTCUSDT,37361.14,0.29014,1700124151266,None,2023-11-16 08:42:31.266
1,BINANCE:BTCUSDT,37361.15,0.00172,1700124151352,None,2023-11-16 08:42:31.352
2,BINANCE:BTCUSDT,37361.15,0.00601,1700124151416,None,2023-11-16 08:42:31.416
3,BINANCE:BTCUSDT,37361.15,0.01156,1700124151416,None,2023-11-16 08:42:31.416
4,BINANCE:BTCUSDT,37361.15,0.00264,1700124151416,None,2023-11-16 08:42:31.416

In [43]:
df.drop(['timestamp_unix'], axis=1, inplace=True)
df.drop(['conditions'], axis=1, inplace=True)
df.head()

            symbol     price   volume                datetime
0  BINANCE:BTCUSDT  37361.14  0.29014 2023-11-16 08:42:31.266
1  BINANCE:BTCUSDT  37361.15  0.00172 2023-11-16 08:42:31.352
2  BINANCE:BTCUSDT  37361.15  0.00601 2023-11-16 08:42:31.416
3  BINANCE:BTCUSDT  37361.15  0.01156 2023-11-16 08:42:31.416
4  BINANCE:BTCUSDT  37361.15  0.00264 2023-11-16 08:42:31.416

In [45]:
# Assuming df is your dataframe
# Convert 'datetime' column to datetime type
df['datetime'] = pd.to_datetime(df['datetime'])
df.head()

            symbol     price   volume                datetime
0  BINANCE:BTCUSDT  37361.14  0.29014 2023-11-16 08:42:31.266
1  BINANCE:BTCUSDT  37361.15  0.00172 2023-11-16 08:42:31.352
2  BINANCE:BTCUSDT  37361.15  0.00601 2023-11-16 08:42:31.416
3  BINANCE:BTCUSDT  37361.15  0.01156 2023-11-16 08:42:31.416
4  BINANCE:BTCUSDT  37361.15  0.00264 2023-11-16 08:42:31.416

In [48]:
df.head()

            symbol     price   volume                datetime
0  BINANCE:BTCUSDT  37361.14  0.29014 2023-11-16 08:42:31.266
1  BINANCE:BTCUSDT  37361.15  0.00172 2023-11-16 08:42:31.352
2  BINANCE:BTCUSDT  37361.15  0.00601 2023-11-16 08:42:31.416
3  BINANCE:BTCUSDT  37361.15  0.01156 2023-11-16 08:42:31.416
4  BINANCE:BTCUSDT  37361.15  0.00264 2023-11-16 08:42:31.416

In [50]:
# Group by date and symbol, and aggregate OHLC values
ohlc_df = df.groupby(['symbol', pd.Grouper(key='datetime', freq='1T')]).agg({
    'price': ['first', 'max', 'min', 'last'],
    'volume': 'sum'
}).reset_index()
ohlc_df.head()

            symbol            datetime     price                      \
                                           first       max       min
0  BINANCE:BTCUSDT 2023-11-16 08:42:00  37361.14  37361.15  37353.82
1  BINANCE:BTCUSDT 2023-11-16 08:43:00  37357.27  37357.28  37341.76
2  BINANCE:BTCUSDT 2023-11-16 08:44:00  37354.75  37356.73  37350.00

               volume
       last       sum
0  37357.27  10.42172
1  37354.74  18.37281
2  37350.04   5.84256

In [ ]:
# Rename columns for better readability
ohlc_df.columns = ['symbol', 'datetime', 'open', 'high', 'low', 'close', 'volume']

# Display the resulting OHLC dataframe
print(ohlc_df)